body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
    width: 100%;

}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 17px ;
  text-decoration: none;
}


* {
  font-family: Helvetica;

}

input[type=button]{
  color:white;
  background-color: #075DA4;
  border-radius: 10px;
}

#head {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  height: 400px;
  text-align: center;
  position: relative;


}

#head p {
  font-size: 30px;
  color:#fff;
  position: absolute;
    top: 25%;
    width: 100%;
    display: block;

}

#head form {
  position: absolute;
    top: 50%;
    width: 100%;
    border-radius: 40px;
}

#down {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #D7DEDB;
  padding-top: 50px;
  position: relative;
  /*flex-direction: center;*/

  
}

div p {
  color:grey;

}

h3 {text-align: center;
}

.box2 {padding-left: 50px;
padding-right: 50px;}

