body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
    width: 100%;

}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 17px ;
  text-decoration: none;
}


